body {
  font-family: "Oswald", sans-serif;
  font-family: "Raleway", sans-serif;
  background-image: url("/img/jessicasuarez_americanredwolf_20211203-1.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.img {
  display: flex;
  width: 100%;
  height: 3em;
}

form {
  border: 1px solid rgba(173, 138, 138, 0.301);
  border-radius: 0.3em;
  padding: 0.3em;
}
form input,
form button {
  font-size: 1em;
  border-radius: 0.2em;
  border: none;
  padding: 0.2em;
}
form button {
  cursor: pointer;
  background: none;
  color: rgb(255, 255, 255);
}
form button:hover {
  background: whitesmoke;
  color: rgba(0, 0, 0, 0.747);
}
.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13em;
  padding-right: 2.5em;
  padding-left: 2.5em;
}
.botao1 {
  display: inline-block;
  background: #a39c8881;
  color: #000000;
  padding: 0.5em;
  border-radius: 1.5em;
  text-decoration: none;
  border: 2px solid #95a5a6;
}
.botao1:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
